.index
  = render "products/header"

  .index__breadCrumbs
    FURIMA > マイページ > 支払い方法
  .index__main-contents
    = render "mypage.nav"

    .index__main-contents__card
      .index__main-contents__card__head
        支払い方法
      .index__main-contents__card__main
        .listname
          .listname__text
            クレジットカード一覧
        .addition
          .addition__btn
          = link_to "/cards", class: "addition__btn__card" do
            = icon('fas', 'credit-card')
            クレジットカードを追加　/　一覧表示

        .foot
          .foot__information
          = link_to "#", class: "foot__information__icon" do
            支払い方法について
            = icon('fas', 'angle-right')

  = render "products/appBanner"
  = render "products/footer"