.index
  
  = render "products/camera"  
  = render "products/header"

  .index__breadCrumbs
    FURIMA > マイページ
  .index__main-contents
    = render "mypage.nav"
    .index__main-contents__user
      .index__main-contents__user--info
        = image_tag asset_path('mypageBackground.jpg'), size: "800x200"
        .index__main-contents__user--info__icon
          %figure
            %image
              = image_tag "member_photo_noimage_thumb.png", size: "60x60"
          %h1.userNickname
            #{current_user.nickname}
          .index__main-contents__user--info__icon--number
            .index__main-contents__user--info__icon--number__evaluation
              評価
              %span.bold
                0
            .index__main-contents__user--info__icon--number__countItem
              出品数            
              %span.bold
                0
      .mypage-contener
        .mypage-tabs
          .active
            %h3
              お知らせ              
          .tab
            %h3
              やることリスト               
        .mypage-contents
          .tab-notification
            .show
              %a.contents-notification
                .contents-notification-image
                  .image
                    = image_tag "icon_category.png", size: "48x48"           
                .text-notification 
                  お知らせ
                  .time-notification
                    %i.far.fa-clock
                    %span 15時間前
              %a.contents-notification
                .contents-notification-image
                  .image
                    = image_tag "icon_category.png", size: "48x48"           
                .text-notification 
                  お知らせ
                  .time-notification
                    %i.far.fa-clock
                    %span 16時間前
              %a.contents-notification
                .contents-notification-image
                  .image
                    = image_tag "icon_category.png", size: "48x48"           
                .text-notification 
                  お知らせ
                  .time-notification
                    %i.far.fa-clock
                    %span 16時間前
            .contents-go
              = link_to('一覧表を見る', "#")
      .mypage-purchase
        .mypage-purchase--head 
          購入した商品          
        .mypage-tabs
          %li.active
            %h3
              %a(href="#" id="#" class="tab active")
                取引中
          %li.tab
            %h3
              %a(href="#" id="#" class="tab")
                過去の取引
        .mypage-content
          .content-transaction
            .itemNotFind
              .image
                = image_tag "icon_category.png", size: "60x60"
            %p 取引中の商品がありません           
           
  = render "products/appBanner"
  = render "products/footer"
