.index
  = render "products/header"

  .index__breadCrumbs
    FURIMA > マイページ > ログアウト
  .index__main-contents
    = render "mypage.nav"
    .index__main-contents__btn
      .index__main-contents__btn--contener
        %li.logOut
          = link_to("ログアウト", destroy_user_session_path, method: :delete)

  = render "products/appBanner"
  = render "products/footer"