.index
  
  = render "products/camera"  
  = render "products/header"


  .index__breadCrumbs
    FURIMA > マイページ
  .index__main-contents
    = render "mypage.nav"
    .index__main-contents__user
      .index__main-contents__user--info
        = image_tag asset_path('mypageBackground.jpeg'), size: "800x200"
        .index__main-contents__user--info__icon
          %figure
            %image
              = image_tag "member_photo_noimage_thumb.png", size: "60x60"
          %h1.userNickname
            #{current_user.nickname}
          .index__main-contents__user--info__icon--number
            .index__main-contents__user--info__icon--number__evaluation
              評価
              %span.bold
                0
            .index__main-contents__user--info__icon--number__countItem
              出品数            
              %span.bold
                0
      %section.mypage-contener
        %ul.mypage-tabs
          %li.active
            %h3
              = link_to "お知らせ",class: "tab active"
          %li.tab
            %h3
              = link_to "やることリスト",class: "tab active"
        %div.mypage-contennts
          %div.tab-notification
            %li.show
              %a.contennts-notification
                %div.contennts-notification-image
                  %image
                    = image_tag "icon_category.png", size: "48x48"           
                %div.text-notification 
                  お知らせ
                  %div.time-notification
                    %i.far.fa-clock
                    %span 15時間前
              %a.contennts-notification
                %div.contennts-notification-image
                  %image
                    = image_tag "icon_category.png", size: "48x48"           
                %div.text-notification 
                  お知らせ
                  %div.time-notification
                    %i.far.fa-clock
                    %span 16時間前
              %a.contennts-notification
                %div.contennts-notification-image
                  %image
                    = image_tag "icon_category.png", size: "48x48"           
                %div.text-notification 
                  お知らせ
                  %div.time-notification
                    %i.far.fa-clock
                    %span 16時間前
            %div.contennts-go
              = link_to('一覧表を見る', "#")
                
          %div.tab-toDo
            %li.content
              = link_to "",class: "contennts"


      %section.mypage-purchase
        %h4.mypage-purchase-head 
          購入した商品          
        %ul.mypage-tabs
          %li.active
            %h3
              = link_to "出品中", users_products_path,class: "tab active"

          %li.tab
            %h3
              = link_to "取引中", users_products_path,class: "tab active"
                
          %li.tab
            %h3
              = link_to "過去の取引", users_products_path,class: "tab active"
        %div.mypage-contennts
          %div.contennts-transaction
          
            .mypage-product
              - @products.each do |product|
                = link_to product_path(product), class:"MyProduct" do
                  = image_tag product.photos[0].name.url
                  .mypage-product_name
                    = product.name
                    
          %div.contennts-pastTransactions
            %li.content
              = link_to "",class: "contennts"

  .index__appBanner
    .index__appBanner__inner
      .index__appBanner__inner__title
        だれでもかんたん、人生を変えるフリマアプリ
      .index__appBanner__inner__text
        今すぐ無料ダウンロード！
      .index__appBanner__inner__icon
        = link_to image_tag("Download_on_the_App_Store_Badge_US-UK_blk_092917.png", class: "APPstore-btn", alt: "サンプル画像"), root_path
        = link_to image_tag("google-play-badge.png", class: "Googleplay-btn", alt: "サンプル画像"), root_path

  = render "products/appBanner"
  = render "products/footer"
