.purchase
  
  = render "devise/header"

  .purchase__contents
    .purchase__contents__message
      %h1 購入内容の確認
    .purchase__contents__items
      .purchase__contents__items__detail
        .purchase__contents__items__detail--image
          = image_tag "#{@product.photos[0].name.url}",size: "100x100"
        .purchase__contents__items__detail--description
          .purchase__contents__items__detail--description__name
            = @product.name
          .purchase__contents__items__detail--description__price
            %span.item-price
              = "¥" + "#{@product.price.to_s}"
            %span (税込)
    .purchase__contents__buy-price
      %h2 支払い金額
      .purchase__contents__buy-price__pay-box
        %span.pay-price
        = "¥" + "#{@product.price.to_s}"
    .purchase__contents__credit
      %h3 支払い方法   
      .purchase__contents__credit__card-box
        クレジットカード
        .credit_num
          = "**** **** **** " + @card_customer.last4
        .expiration-date
          有効期限
          = @card_month + '/' + @card_year

        .brand
        = image_tag "cards/#{@card_src}", class:"brand__image",height:'35', alt: @card_brand_image

      %h3 支払い方法 
      - if current_user.card.nil?
        %li
          = link_to "登録してください", users_card_path(current_user), class: "purchase__container__payment__box__register"
      - else
        %li.purchase__container__payment__box__register
          クレジットカード  

    .purchase__contents__address 
      %h4 配送先    
      .purchase__contents__address__add-box        
        .post_num
          = "〒" + "#{@address.post_num}"
        .prefecture
          = @address.prefecture
          %span.city
            = @address.city
          %span.address
            = @address.address
          %span.billding
            = @address.billding
        .address_name
          = @address.address_name    
          
    %label.purchase__container__submit
      %button.purchase__container__submit__btn
        - if current_user.card.present?
          = form_tag(action: :pay, method: :post) do
            %button.buy-button{type:"submit"} 購入する
        - else
          = link_to users_card_path(current_user), class: "purchase__container__submit__btn--text" do
            クレジットカードを登録してください
    
  = render "devise/footer"

