.purchased

  = render "devise/header"

  .purchased__content
    .purchased__content__announce 
      %div.announce
        %i.far.fa-clock
        %span 発送をお待ちください  
    .purchased__content__messages  
      %h1 購入が完了しました
    .purchased__content__item
      .purchased__content__item__detail
        .purchased__content__item__detail--image
          = image_tag "icon-01.png", size: "100x100"
          -# = image_tag "#{@product.images[0].url}", size: "100x100"
        .purchased__content__item__detail--descriptions
          .purchased__content__item__detail--descriptions__names
            ひらめき大辞典
            -# = @product.name
          .purchased__content__item__detail--descriptions__prices
            %span.item-prices
              ¥920
              -# = "¥#{@product.price.to_s}"
            %span.item-shippi-fee 税込 (送料込み)
          
    .purchased__content__buy-prices
      %h2 支払い金額
      .purchased__content__buy-prices__pay
        %span.pay-price
        ¥920
        -# = "¥#{@product.price.to_s}"
    .purchased__content__credites
      %h3 支払い方法   
      .purchased__content__credites__card
        -# - if @credit_information.blank?
        -# %br /
        -# - else
        %p クレジットカード
        %p.credit_num
          ************1234
          -# = "************" + @credit.credit_num.last4
        %p.expiration-date
          有効期限 06 / 20
          -# - limit_month = @credit.limit_month.to_s
          -# - limit_year = @credit.limit_year.to_s.slice(2,3)
          -# = "有効期限" + limit_month + " / " + limit_year
    .purchased__content__addre
      %h4 配送先
      .purchased__content__addre__add
        %p.post_num
          -# = @shopping-address.post_num
          〒000-0000
        %p.prefecture
          -# = @shopping-address.prefecture
          東京都
          %span.city
            -# = @shopping-address.city
            渋谷区
          %span.address
            -# = @shopping-address.address
            神南１丁目１８−２ 
          %span.billding
            -# = @shopping-address.billding
            フレーム神南坂 4階
        %p.address_name
          -# = @shopping-address.address_name
          山田太郎
    .purchased__content__form
      .purchased__content__form--btn
        = link_to("トップページに戻る", "/products")
        
  = render "devise/footer"