%nav.breadCrumbs
  %ul
    %li
      = link_to "FURIMA"
    %li
      %i.fas.fa-angle-right
    %li
      = @product.category.parent.parent.name
    %li
      %i.fas.fa-angle-right
    %li
      = @product.category.parent.name
    %li
      %i.fas.fa-angle-right
    %li
      = @product.category.name
    %li
      %i.fas.fa-angle-right
    %li
      = @product.name

.main
  .main__showMain
    .main__showMain__topContents
      .main__showMain__topContents__topContent
        .main__showMain__topContents__topContent__itemBox
          %h2.main__showMain__topContents__topContent__itemBox__name
            = @product.name
          %ul.main__showMain__topContents__topContent__itemBox__body
            %li
              = image_tag @product.photos[0].name.url
              %ul
                %li
                  = image_tag @product.photos[0].name.url, width:"75px", height:"75px"
                - if @product.photos[1].nil?
                - else
                  %li
                    = image_tag @product.photos[1].name.url, width:"75px", height:"75px"
                - if @product.photos[2].nil?
                - else
                  %li
                    = image_tag @product.photos[2].name.url, width:"75px", height:"75px"
                - if @product.photos[3].nil?
                - else
                  %li
                    = image_tag @product.photos[3].name.url, width:"75px", height:"75px"
                - if @product.photos[4].nil?
                - else
                  %li
                    = image_tag @product.photos[4].name.url, width:"75px", height:"75px"      
          .main__showMain__topContents__topContent__itemBox__price
            %span<>
              ¥
              = @product.price
            .main__showMain__topContents__topContent__itemBox__price__price-detail
              %span
                (税込)
              %span
                送料込み
          .main__showMain__topContents__topContent__itemBox__detail
            = simple_format(@product.content)
          .main__showMain__topContents__topContent__itemBox__table
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    = @product.user.nickname
                %tr
                  %th
                    カテゴリー
                  %td
                    = @product.category.parent.parent.name
                    %br
                    = @product.category.parent.name
                    %br
                    = @product.category.name
                %tr
                  %th
                    ブランド
                  %td
                    = @product.brand
                %tr
                  %th
                    商品の状態
                  %td
                    = @product.condition.name
                %tr
                  %th
                    配送料の負担
                  %td
                    = @product.fee.name
                %tr
                  %th
                    発送元の地域
                  %td
                    = @product.area.name
                %tr
                  %th
                    発送日の目安
                  %td
                    = @product.shippingday.name
          .main__showMain__topContents__topContent__itemBox__optionalArea
            %ul
              %li.main__showMain__topContents__topContent__itemBox__optionalArea__likeBtn
                = link_to "#" do
                  %i.fas.fa-star
                  お気に入り 1
            %ul
              %li.main__showMain__topContents__topContent__itemBox__optionalArea__optionalBtn
                = link_to "#" do
                  %i.fas.fa-flag
                  不適切な商品の通報
        .main__showMain__topContents__topContent__commentBox
          %li.main__showMain__topContents__topContent__commentBox__contents
          .main__showMain__topContents__topContent__commentBox__newComment
            %textarea

            %p.main__showMain__topContents__topContent__commentBox__newComment__noticeMsg
              相手のことを考えて丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br
            %button.main__showMain__topContents__topContent__commentBox__newComment__commentBtn{type:"submit"}
              %i.fas.fa-comment
              コメントする
          - if user_signed_in? && current_user.id == @product.user_id
            .main__showMain__topContents__topContent__productsManage
              %button.main__showMain__topContents__topContent__productsManage__editBtn
                %i.far.fa-edit
                = link_to "編集する", edit_product_path
              %button.main__showMain__topContents__topContent__productsManage__deleteBtn
                %i.fas.fa-trash
                = link_to "削除する", product_path, method: :delete, data: { confirm: "本当に削除しますか？"}
          - if user_signed_in? && current_user.id != @product.user_id
            .main__showMain__topContents__topContent__productsManage
              %button.main__showMain__topContents__topContent__productsManage__buyBtn
                %i.fas.fa-shopping-cart
                = link_to "購入する", product_purchase_index_path(params[:id])
      .main__showMain__topContents__links
        %li
          = link_to "#" do
            %i.fas.fa-angle-left
            %span 前の商品
        %li
          = link_to "#" do
            %span 後ろの商品
            %i.fas.fa-angle-right
      .main__showMain__topContents__relatedItems
        = link_to "レディースをもっと見る", "#"